<mat-toolbar>
  <span class="fill-remaining-space"></span>
  <span>LOG FORM</span>
  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" routerLink="login">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button color="primary" routerLink="/login"> LOGIN </button>
  <button mat-button color="primary"routerLink="/signup"> SIGNUP </button>
  <span class="fill-remaining-space"></span>
</mat-toolbar><br>
<div class="container"><br>
<mat-card>
  <router-outlet></router-outlet>
</mat-card>
</div>
