
<div class="main-div">
    <mat-card>
        <mat-card-title>USER SIGNUP</mat-card-title><br>
        <form [formGroup]="signupform" (ngSubmit)="signup()">
    
            <mat-form-field class="full-width">
                <mat-label>username*</mat-label>
                <input matInput formControlName="name" value="name" id="name">
                <mat-error>This field is Mandatory</mat-error>
            </mat-form-field>
            
            <div class="full-width">
                <mat-label>Gender :</mat-label>
                <mat-radio-group formControlName="gender">
                  <mat-radio-button value="male">Male</mat-radio-button>
                  <mat-radio-button value="female">Female</mat-radio-button>
                  <mat-radio-button value="other">Other</mat-radio-button>
                </mat-radio-group>
              </div>
    
            <mat-form-field class="full-width">
                <mat-label>Email*</mat-label>
                <input matInput formControlName="email">
                <mat-error>Invalid email address.</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Phone*</mat-label>
                <input matInput value="phone" id="phone" formControlName="phone">
                <mat-error *ngIf="signupform.controls.phone.errors?.required">This field is Mandatory</mat-error>
                <mat-error *ngIf="signupform.controls.phone.errors?.pattern">invalid phone number</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" value="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        
    
            <button mat-raised-button color="primary"  [disabled]="signupform.invalid">Sign Up</button>
        </form>
    </mat-card>
</div>
    